<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"></link>
        <link rel="stylesheet" href="Styles/Bootstrap/css/bootstrap (base_page).css"></link>
        <link rel="stylesheet" href="Styles/Style.css"></link>
        <title> Base </title>
	</head>

	<body>


<div class="wrapper">
    <header class="header">
			<strong>Schedule</strong> 
			{% block name %}{% end block %}
			{% block group_name %}{% end block %}
	</header>

	<div class="middle">

		<div class="container">
		 <main class="content">
		 <div class="row">
		 
			<div class="menu">
		    
					<ul>
					<li><a href="base.html"> Main page </a></li>
					<li><a href="groups.html"> Groups </a></li>
					<li><a href="teachers.html"> Lecturers </a></li>
					<li><a href="shedule.html"> Schedule </a></li>
					<li><a href="literature.html"> Literature </a></li>
					</ul>	
		  
				<p><a href="settings.html"> Settings </a></p>
			</div>
	
			<div class="col-md-3">
				<div class="group">
					<h1> My group </h1>
					<ul>
						{% block group %}{% endblock %}
					</ul>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="schedule">
					<h1> My schedule</h1>
					<ul>
						{%block shedule %}{% endblock %}
					</ul>
				</div>
			</div>
		
		 </div>	
		 </main>
		</div>
	</div>

</div>

	<footer class="footer">
		
	</footer>

</body>
</html>
