<!DOCTYPE html>
<html>
   <head>
      {% block head %}
         <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
         <link rel="stylesheet" href="Styles/Bootstrap/css/bootstrap-theme.min.css">
         <link rel="stylesheet" type="text/css" href="Styles/Style.css" href="menu.css">
         <title> Головна </title>
      {% endblock %}
   </head>

   <body>

   <div class="menu">
      <ul>
         <li><a href="base.html"> Головна сторінка </a></li>
         <li><a href="profile.html"> Профіль </a></li>
         <li><a href="groups.html"> Групи </a></li>
         <li><a href="teachers.html"> Викладачі </a></li>
         <li><a href="shedule.html"> Розклад </a></li>
         <li><a href="literature.html"> Література</a></li>
      </ul>
   </div>

   <div class="content">
      {% block personal %}{% endblock %}
      <p><a href="settings.html"> Налаштування </a></p>

      <div class="shedule">
         {% block shedule %}{% endblock %}
      </div>

      <div class="group">
         <p><h1> My group </h1></p>
         {% block group %}{% endblock %}
      </div>

   </div>   

   </body>
<html>
         
