form {
    margin: auto;
    margin-top: 50px;
    background-color: #182045;
    color: white; 
    border: none;
    padding: 10px; 
    border-radius: 15px; 
    border-bottom-width: medium;
    text-align: center;
    width: 40%;
} 

#group {
    margin: 0 auto;
}

#passAuth, #emailAuth, #loginAuth, #nameAuth, #group {
    border-color: black;
    border-left-color: black;
    border-radius: 10px;
    font-size: 1em;
    text-indent: 5px;
    padding: 10px 10px;
    margin-bottom: 10px;
    width: 200px;
}

.checkbox {
    font-size: 17px;
    font-family: OpenSans Bold, sans-serif;
    font-style: bold;
}

button {
    border-radius: 20px;
    border-color: black;
    border-left-color: black;
    padding: 10px;
    font-weight: bold;
}

.hide {
    display: none; 
}

.hide + label ~ div {
    display: none;
}

.hide:checked + label + div {
    display: flex;
    margin: auto;
    text-align: center;
    padding: 15px; 
}

.demo {
    border-color: black;
    border-left-color: black;
    border-radius: 10px;
    text-indent: 5px;
    max-height: inherit;
    align-items: center;
}

.applyButton {
    margin-top: 10px;
    text-align: center;
}

.headName {
    font-size: 25px;
    font-family: OpenSans Bold, sans-serif;
    font-style: bold;
    text-transform: uppercase;
}
