body {
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: url('http://static.panoramio.com/photos/large/110367911.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.wrapper .header {
	font-family: 'Shift', sans-serif;
	font-size: 21px;
}

.middle {
	background-color: #6495ED;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}

.middle h1 {
  font-family: 'Shift', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
}

.middle ul {
  font-family: 'Shift', sans-serif;
  font-size: 13px;
  color: #ffffff;
}



.middle a {
  font-family: 'Shift', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.middle .menu {
	float: left;
	border-right:1px solid #999;
	padding:10px 0px;
	width: 165px;
}

.middle .menu a {
	display: block;
	background: url(navigation.png);
	height: 30px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}

.middle .schedule{
	color: #ffffff;
	font-family: 'Shift', sans-serif;
	text-shadow: none;
}

.middle .schedule  h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #ffffff;
}

.middle .group{
	color: #ffffff;
	font-family: 'Shift', sans-serif;
	text-shadow: none;
}

.middle .group  h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #ffffff;
}