html {
    background-color: white; 
    padding: 140px;  
    border-radius: 10px; 
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
} 

form { 
    display: block; 
    color: black; 
    border: 5px solid;
    border-color: black;
    padding: 14px 16px 16px 18px; 
    border-radius: 20px; 
    border-bottom-width: medium;
} 

input {
    border-color: black;
    border-left-color: grey;
    border-radius: 20px;
    font-size: 1em;
    text-indent: 10px;
}

button {
    border-radius: 20px;
    border-color: black;
    border-left-color: grey;
    padding: 7px;
    border-bottom: 10px;
    font-weight: bold;
}
