body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: url('http://www.iop.kiev.ua/~nano2015/images%20filmstrip/Univ1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.nav a {
  color: ##00b0ff;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.profile {
	background-color: #000000;
}

.container-primary {
	background-color: #ffffff;
	top: 25px;
}

.container-primary h1 {
	color: #000000;
	font-size: 35px;  
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.container-primary h2 {
	color: #000000; 
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.container-primary p {
	color: #000000;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
}

.container-primary p1 {
	font-family: 'Shift', sans-serif;
	font-size: 12px;
	color: #000000;
}

.container-primary a {
	font-family: 'Shift', sans-serif;
	font-size: 12px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more p {
  font-family: 'Shift', sans-serif;
  font-size: 13px;
  color: #000000;
}

.learn-more a {
  color: #000000;
}